/*styles for my resume*/

/*this is the style for the body*/

body {
  font-family: Open Sans, Arial, san-serif;
  font-size:1em;
  color:#444;
  font-weight:400;
}

/*this container centered my whole resume how cool*/

#container {
  width:100%;
  max-width:1200px;
  margin:0 auto;
  padding-bottom:50px;
}
/*my title has a different color now*/

#name {
  font-size:3em;
  text-transform:uppercase;
  text-align:center;
  color:#33485e;
  border-bottom: 1px solid #33485e;
  width:60%;
  min-width:300px;
  margin:0 auto;
}

/*this is where my section are nice and bold*/

#title {
  color:#33485e;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:600;
  margin-top:20px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
  text-align:center;
}

/*this is where my banners are located*/

.sectionheader {
  color:#fff;
  font-size:1.5em;
  text-transform:uppercase;
  font-weight:400;
  background-color:#33485e;
  margin-bottom:10px;
  margin-top:20px;
  margin-right:0;
  margin-left:0;
  width:70%;
  min-width:300px;
}

/*this is where my job title is nice and bold*/

.jobtitle {
  font-size:1.5em;
  font-weight:600;
}

/*not much here just where i worked*/

.organization {
  font-weight:400;
  font-size:1.25em;
}

/*look i italicized my job dates*/

.date {
  font-weight:400;
  font-size:1em;
  font-style:italic;
  margin-top:2px;
  margin-bottom:0;
  margin-right:0;
  margin-left:0;
}

/*this is like the section where i work*/

li {
  font-size:1em;
}

/*made some changes woot woot*/

.description {
  margin-top:10px;
  margin-bottom:10px;
  margin-left:0px;
  margin-right:0px;
}

/*the menu is for the unorderedlist with contact info*/

.menu {
  padding:0px;
  margin:0px;
  text-align:center;
  list-style-type:none;
}
/*i think this is how you target a targeted item but i'm not sure*/

.menu li {
  display:inline;
}
/*i only have one degree*/
#degrees {
  margin-top:5px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
}

/*this is where the info for my skills is*/

#do {
  margin-top:5px;
  margin-bottom:0px;
  margin-left:0px;
  margin-right:0px;
}

/*this is for the description under my name*/

.top {
  width:60%;
  min-width:300px;
  margin:0 auto;
  margin-bottom:30px;
}
